.cabecalho {
    align-items: center;
    background-color: var(--cor-principal);
    display: flex;
    font-family: var(--fonte-principal);   
    padding: 1rem;
    justify-content: space-around;
    width: 100%;
    min-height: 5vh;
}

.cabecalho__titulo {
    justify-self: flex-start;
    font-size: 1.5em;
}

.cabecalho__tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.cabecalho__subtitulo {
    font-size: 0.9rem;
}

.cabecalho__botoes {
    display: flex;
    gap: 0.5rem;
}

.cabecalho__botao {
    background-color: var(--cor-terciaria);
    transition: 0.3s ease-in-out;
}

.tema__original:hover {
    background-color: var(--cor-secundaria);
}

.tema__dark:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}

.tema__azul:hover {
    background-color: var(--azul-secundaria);
    color: white;
}
