@import url("./temas/dark.css");
@import url("./temas/azul.css");
@import url("./cabecalho.css");
@import url("./sudoku.css");
@import url("./rodape.css");

:root {
    --fonte-principal: 'Poppins';
    
    --branco: hsl(0, 0%, 100%);
    --preto: black;
    --cor-principal: #547735;
    --cor-secundaria: #628E3D;
    --cor-terciaria: #B6CE8A;
    
    --azul-principal: #2A4FBF;
    --azul-secundaria: #4368D6;
    --azul-terciaria: #96ABE8;
}

* {
    box-sizing: border-box;
    border-spacing: 0;
    font-family: var(--fonte-principal);   
}

body {
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    height: calc(100% - 66.4px - 80.4px);
}

