@import url("./cabecalho.css");
@import url("./sudoku.css");

:root {
    --fonte-principal: 'Poppins';
    
    --branco: hsl(0, 0%, 100%);
    --preto: black;
    --cor-principal: #2A4FBF;
    --cor-secundaria: #4368D6;
    --cor-terciaria: #96ABE8;
}

* {
    box-sizing: border-box;
    border-spacing: 0;
    font-family: var(--fonte-principal);   
}

.container {
    width: 100%;
}

