.azul .cabecalho, .azul .rodape {
    background: var(--azul-principal)
}

.azul .casa, .azul .cabecalho__botao, .azul .botao:hover {
    background-color: var(--azul-terciaria);
}

.azul .casa__diferente, .azul .botao {
    background-color: var(--azul-secundaria);
}